.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #878787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar p {
    font-weight: 500;
    font-size: x-large;
    color: black;
    margin-top: auto;
}

.Toolbar nav {
    height: 100%;
    
}