.TZ {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 1%;
    padding: 10px;
    background-color: rgb(247, 249, 252);
    display: flex;
}

.TZ .Title {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 5px;
    width: 50%;
}

.TZ .Toolbar {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 5px;
    width: 50%;
    text-align: center;

}